<html ng-app>
<head>
    <link href="style1.css" type="text/css">
    <link  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

    <script src="jscript.js"></script>

</head>

<body ng-controller="hangmanController">
<h1 style="text-align: center">Tic Tac Toe!</h1>

<div class="container" style="text-align: center">
    <div class="well" >
        <div><button class="btn-primary btn-lg" style="background-color: #28a745" ng-repeat="cell in board[0]" ng-disabled="isTaken(cell);" ng-click="move(cell);">{{ cell.value }}</button></div>
        <div><button class="btn-primary btn-lg" style="background-color: #28a745" ng-repeat="cell in board[1]" ng-disabled="isTaken(cell);" ng-click="move(cell);">{{ cell.value }}</button></div>
        <div><button class="btn-primary btn-lg" style="background-color: #28a745" ng-repeat="cell in board[2]" ng-disabled="isTaken(cell);" ng-click="move(cell);">{{ cell.value }}</button></div>
        <br/>
        <p>
            <span ng-hide="winner || cat">Current Player: {{ currentPlayer }}</span>
            <span ng-show="winner">Player {{ currentPlayer }} won!</span>
            <span ng-show="cat">Cat</span>
        </p>
    </div>
</div>
<div style="text-align: center">
<button ng-click="reset();" style="background-color: #28a745" class="btn btn-primary btn-large" >New Game</button></div>
</body>
</html>